# Compiled class file
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven build directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.factorypath
.springBeans
.recommenders/
.vscode/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Frontend / Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Crash dumps
drwtsn32.log
user.dmp
host.dmp
errout.txt
